@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(5, 10, 30, 0.7), rgba(5, 10, 30, 0.7)),
    url(https://ekladata.com/3m1aAdczURtSmgkKrq1Mo6iRomM.jpg);
  background-position: center;
  background-size: cover;
}

#Harry-Potter {
  width: 150px;
  display: flex;
  height: 50px;
  background: gray;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  font-size: 1.1em;
  color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: orange;
}

header {
  height: 10vh;
  width: 100%;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 0px 10px;
  align-items: center;
  justify-content: space-between;
  font-family: "Lato";
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.toggle_btn i {
  font-size: 180%;
}

.action_btn {
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 1.05;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}

.menu {
  position: absolute;
  right: 2rem;
  top: 90px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu.open {
  height: 180px;
}

.menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
#Harry-Potter {
  width: 200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.text-sur-image {
  font-family: "Cinzel";
  width: 90%;
  color: white;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 30px;
}

main img {
  width: 200px;
}

.Basilisk,
.lutin-de-cornouaille,
.mandragore,
.hippogriffe,
.dragon {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;
  align-items: center;
  font-size: 17px;
}

.Basilisk p,
.lutin-de-cornouaille p,
.mandragore p,
.hippogriffe p,
.dragon p {
  font-family: "Cinzel";
}

.text-sur-image {
  font-family: "Cinzel";
  width: 90%;
  color: white;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 30px;
}

@media screen and (max-width: 900px) {
  nav {
    font-size: 10px;
  }
  main div {
    flex-direction: column;
  }

  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }
  .menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .menu {
    left: 2rem;
    width: unset;
  }
}
